@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,400;0,700;1,100&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #393F41;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #8E8D7E;
  border-radius: 30px;
}

/* Estilos do botão */
.default-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #8C8C7C;
  color: #8C8C7C;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilizando o botão ao passar o mouse sobre ele */
.default-button:hover {
  background-color: #8C8C7C;
  color: #e5e6e0;
}

/* Header content */
.link {
  color: #e5e6e0;
  margin-right: 25px;
}

.link2 {
  color: #e5e6e0;
  margin-left: 35px;
}

.link:hover,
.link2:hover {
  color: #A29E9E;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: white;
}

.container-index {
  height: 100%;
}

.index-img img {
  width: 100%;
  height: 100vh;
}

/* Adicione este estilo CSS personalizado */
.control-index {
  display: none; /* Isso tornará as setas invisíveis */
}

.index-text {
  padding: 20px;
}
.index-text img {
  width: 80%;
  height: auto;
  padding: 15% 0% 30% 20%;
}
.index-text h1 {
  font-size: 25px;
  text-align: center;
  color: #8C8C7C;
}
.index-text p {
  text-align: center;
  color: #8C8C7C;
  font-weight: 700;
  font-size: 15px;
  font-style: italic;
}
.index-text button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  .index-img img {
    width: 100%;
    height: 60vh;
  }
  .index-text {
    padding-top: 50px;
  }
  .index-text img {
    width: 90%;
    padding: 1% 10% 5% 20%;
  }
  .index-text h1 {
    font-size: 16px;
  }
  .index-text p {
    font-size: 10px;
  }
  .index-text button {
    padding: 5px 10px;
    font-size: 15px;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Para evitar a barra de rolagem horizontal */
  background-size: cover;
  background-position: center;
  position: relative; /* Importante para posicionar elementos filhos relativos a este contêiner */
}

/* Estilo para o header ficar sobreposto */
header {
  position: fixed;
  width: 100%;
  z-index: 1000; /* Certifique-se de que o header está acima do carrossel */
}

/* Estilo para o carrossel ocupar a tela inteira */
#carouselExampleIndicators {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.body-background-carrossel {
  cursor: pointer;
  height: 100%;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e5e6e0;
  text-align: center;
}

.container img {
  width: 50%;
  margin-right: 100%;
}

.img-ensaios {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* Adicione este estilo para o bloco de nome */
.name-block {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  color: #e5e6e0;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-text {
  font-weight: 700;
  color: #A29E9E; /* ou a cor desejada para o texto mais escuro */
}

.white-text {
  color: #e5e6e0;
}

.spacer {
  margin: 0 10px; /* ou ajuste conforme necessário */
}

.logo {
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  text-decoration: none;
  display: none;
  cursor: pointer;
  position: relative; /* Adicione esta linha */
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #e5e6e0;
  margin: 8px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 999px) {
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list.active {
    transform: translateX(0);
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list a {
    text-decoration: none;
    color: white;
  }
  .mobile-menu {
    display: block;
    z-index: 1000; /* Certifique-se de que o botão hamburguer esteja acima do fundo preto */
  }
}
@media (max-width: 425px) {
  .name-block {
    padding: 5px 20px 5px 20px;
    font-size: 15px;
  }
}
.ensaio-link {
  color: #8C8C7C;
  margin-right: 25px;
}

.ensaio-link2 {
  color: #8C8C7C;
  margin-left: 35px;
}

.ensaio-link:hover,
.ensaio-link2:hover {
  color: #A29E9E;
}

body {
  margin: 0; /* Remover margens padrão do corpo */
}

.image-container {
  padding-top: 11%;
  padding-bottom: 2%; /* Adicionando algum espaço na parte inferior */
  display: flex;
  overflow-x: hidden; /* Removendo a barra de rolagem horizontal */
  scroll-behavior: smooth;
}

.image-container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}

.left-arrow-container,
.right-arrow-container {
  position: fixed;
  top: 50%;
  z-index: 1000;
}

.left-arrow,
.right-arrow {
  color: white;
  cursor: pointer;
  font-size: 50px;
  padding: 15px; /* Adicionando algum espaço em torno da seta */
}

.left-arrow-container {
  left: 0;
}

.right-arrow-container {
  right: 0;
}

.form-body {
  background-color: #393F41;
  margin: 0; /* Remova as margens padrão do corpo para cobrir toda a largura */
}

.main {
  padding: 7% 25% 0% 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content {
  background-color: #1E1C1C;
  height: 79.2vh;
}

.image-planta {
  width: 60vh;
}

.container-form {
  padding: 0px 40px 40px 0px;
}

.form-content {
  width: 80vh;
  padding: 20px 10px 0px 50px;
}
.form-content h1 {
  color: #fff;
  font-weight: 600;
}
.form-content p {
  color: #fff;
}
.form-content button {
  width: 200px;
  font-size: 15px;
}

.container-text {
  padding: 20px 0px 70px 0px;
}

.form-control {
  font-size: 12px;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
  transition: border-bottom-color 0.3s ease, font-size 0.3s ease, transform 0.3s ease;
}

.form-control::placeholder {
  font-size: 12px;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left top;
  transition: font-size 0.3s ease, transform 0.3s ease;
}

.form-control:focus::placeholder {
  color: #fff;
  font-size: 0.8rem;
  transform: translateY(-12px);
}

.form-control:focus {
  color: #8C8C7C;
  background-color: transparent;
  border-bottom-color: #8C8C7C; /* Cor azul quando o campo está focado */
  box-shadow: none; /* Remove o contorno padrão quando o campo está focado */
}

.pt-navbar {
  padding-top: 56px; /* ou ajuste conforme necessário para corresponder à altura da sua barra de navegação */
  background-color: #fff;
}

.sobre {
  background-color: #fff;
  display: grid;
}
.sobre img {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
  height: 88%;
}
.sobre div {
  margin: 100px 50px 100px 50px;
}
.sobre h1 {
  color: #8C8C7C;
  font-weight: 900;
  text-align: left;
  padding: 0px 0px 30px 100px;
}
.sobre p {
  color: #8C8C7C;
  padding: 0px 70px 0px 70px;
}

.link-sobre {
  color: #8C8C7C;
  margin-right: 25px;
}

.link-sobre2 {
  color: #8C8C7C;
  margin-left: 35px;
}

.link-sobre:hover,
.link-sobre2:hover {
  color: #A29E9E;
}

/*# sourceMappingURL=style.css.map */
