$primary-green: #8E8D7E;

$primary-black: #393F41;

$secundary-black: #1E1C1C;

$primary-brown: #7C684A;

$primary-font-color: #8C8C7C;

$primary-font-hover: #1E1C1C;

$primary-white: #e5e6e0;

$secundary-white: #e5e6e0;