.form-body {
  background-color: $primary-black;
  margin: 0; /* Remova as margens padrão do corpo para cobrir toda a largura */
  padding: 0; /* Remova as margens padrão do corpo para cobrir toda a largura */
}
