body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/images/IndexImg/Victor1.png');
    background-size: cover;
    background-position: center;
    position: relative; /* Importante para posicionar elementos filhos relativos a este contêiner */
}

.container{
    img{
        width: 50%;
        margin-right: 100%;
    }
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.container-home{
    display: grid;
    align-items: center;
    justify-content: center;

    p, h1{
        text-align: center;
    }

    hr{
            width: 500px; /* Largura desejada para a linha */
            border: 0.1px solid #ffffff; /* Cor e estilo da linha */ 
            margin: 30px auto; /* Espaçamento ao redor da linha  */
    }

    button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.home-link{
    color: #ffffff;
    margin-right: 25px;
}

.home-link2{
    color: #ffffff;
    margin-left: 35px;
}

.home-link:hover, 
.home-link2:hover{
    color: $primary-font-hover;
}
