body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: white;
}

.container-index {
  height: 100%;
}

.index-img {
  img {
  width: 100%;
  height: 100vh;
 }
}  

/* Adicione este estilo CSS personalizado */
.control-index {
  display: none; /* Isso tornará as setas invisíveis */
}

.index-text {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  
img{
      width: 30%;
      margin-left: 16rem;
      margin-bottom: 14rem;
  }
  
h1{
      font-size: 30px;
      text-align: center;
      color: $primary-font-color;
    }

p{
      text-align: center;
      color: $primary-font-color;
      font-weight: 700;
      font-size: 15px;
      font-style: italic;
  }

button{
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

@media (max-width: 425px) {
  
  .index-img {
      img {
      width: 100%;
      height: 50vh;
     }
  }  
  
  .index-text {
      padding-top: 30px;
    img{
          width: 90%;
          padding: 0% 10% 5% 20%;
      }
      
    h1{
          font-size: 25px;
        }
  
    p{
          font-size: 15px;
      }
  
    button{
          padding: 5px 10px;
          font-size: 15px;
      }
    }
}
.img-ensaios{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 375px) {

.index-text {
    padding-top: 40px;
  }
}

  @media (max-width: 320px) {
  .index-text {
      padding-top: 40px;
    img{
          width: 95%;
      }
      
    h1{
          font-size: 22px;
        }
  
    }
  }