nav{
    padding: 40px 0px 0px 0px;
}

.sobre{
    background-color: #fff;
    display: grid;

    img{
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2%;
        height: 90%;
    }

    div{
        margin: 80px 50px 100px 50px;
    }

    h1{
        color: $primary-font-color;
        font-weight: 900;
        text-align: left;
        padding: 0px 0px 30px 100px;
    }

    p{
        color: $primary-font-color;
        padding: 0px 70px 0px 70px
    }
}


.link-sobre{
    color: $primary-font-color;
    margin-right: 25px;
}

.link-sobre2{
    color: $primary-font-color;
    margin-left: 35px;
}

.img-responsive{
    margin: 10px 10px 10px 10px;
    width: 100%;
}

@media (max-width: 425px) {

    .logo{
        z-index: 996;
    }

    .mobile-menu{
        z-index: 996;
    }

    .mobile-menu.active .line4 {
        transform: rotate(-45deg) translate(-8px, 2px);
    }
      
    .mobile-menu.active .line5 {
        opacity: 0;
    }
      
    .mobile-menu.active .line6 {
        transform: rotate(45deg) translate(-6px, -1px);
    }

    nav{
        padding: 0px 0px 0px 0px;
    }

    .sobre{
        background-color: #fff;
        display: grid;
    
        div{
            margin: 0px 0px 0px 10px;
        }
    
        h1{
            color: $primary-font-color;
            font-weight: 900;
            text-align: left;
            font-size: 16px;
            padding: 0px 10px 10px 8px;
        }
    
        p{
            font-size: 12px;
            color: $primary-font-color;
            padding: 0px 20px 10px 8px
        }
    }
    
    
    .link-sobre{
        color: $primary-font-color;
        margin-right: 25px;
    }
    
    .link-sobre2{
        color: $primary-font-color;
        margin-left: 35px;
    }

  }

